<p>
  <section>
    {{#if isFinished}}
      {{isFinishedText}}
    {{else}}
      {{isNotFinishedText}}
    {{/if}}
  </section>

  <section>

    {{if isFinished (if hasMoreSteps isFinishedButHasMoreSteps)}}
  </section>
</p>

